body{
    display: flex;
    flex-direction: column;
    align-items: center;
    background-image: url('bkgrd.jpg');
    background-repeat: repeat-x;
    margin: 0;
    font-family: Calibri;
}

header{
    width: 70%;
}

.logo{
    width:70%;
    /*border:1px solid blue;*/
}

.flow{
    width:50%;
}

#gif{
    width:100%;
    height:300px;
    background-image: url('https://images.adsttc.com/media/images/5a2b/5cc6/b22e/3871/bd00/0062/original/FEATURE-IMAGE.gif?1512791234');
    background-size: cover;
    background-position: center;
}

#footer{
    width: 100%;
    height: 30px;
    background-color:#67dfd4;
}

/*--NAVBAR--------------------------*/
#nav_wrapper {
    /*width: 100%;*/
    margin: 0;
    /*margin-bottom: 30px;*/
    padding: 0 10px;
    overflow: hidden;
    background-color: #67dfd4;
    /*margin-top:60px;*/

}

#nav_wrapper a {
    display: block;
    color: white;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#nav_wrapper a:hover {
    background-color: #54b6ad;
}

.nav_left{
    float: left;
    display: flex;
    align-items: center;
}

.nav_right{
    float: right;
    display: flex;
    align-items: center;
    /*border:1px solid red;*/
}

.icons{
    width:20px;
    height: 20px;
    /*border:1px solid red;*/
    margin-right: 5px
}

.nav_button{
    display: flex;
    flex-direction: row;
}



/*--NAVBAR--------------------------*/
.main_wrapper{
    width:70%;
    /*border:1px solid red;*/
    box-shadow: 5px 5px 10px grey;
    margin: 0 0 50px 0;
}

.wrapper_new{
    /*border: 1px solid blue;*/
    /*width:100%;*/
    height: auto;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    background-color: white;
    /*padding: 20px;*/
    /*margin-top:40px;*/
    margin-bottom:20px;
    /*background-color: #ebedf0;*/
    /*position: relative;*/
}


/*--CARDS--------------------------*/
.cards_wrapper{
    width:90%;
    /*height: 500px;*/
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    /*position: relative;*/
    /*border: 1px solid green;*/
    margin: 30px auto;
    /*padding: 0;*/
}

.cardBox_wrapper{
    width:46%;
    height: 260px;
    padding:10px;
    position: relative;
}

.cardBox_img{
    width:100%;
    height: 100%;
    /*border: 1px solid blue;*/
    box-sizing: border-box;
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    overflow-x: auto;
    overflow-y: hidden;

}

/*---START OF SCROLLBAR------------------------------------------------------*/
.cardBox_img::-webkit-scrollbar{
   height: 13px;
}

.cardBox_img::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
}

.cardBox_img::-webkit-scrollbar-thumb {
    background-color:#54b6ad;
}


/*---END OF SCROLLBAR------------------------------------------------------*/

.photo{
    min-width: 600px;
    height:400px;
    background-size: cover;
    /*background-position: 0 -80px;*/
    margin-right: 5px;
    /*border:1px red solid;*/

}

.cost{
    color: white;
    text-shadow: 1px 1px 2px black;
    position: absolute;
    top: 10px;
    padding:5px 10px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    margin-left: 0;
    background-color: rgba(0, 0, 0, 0.5);
}
.location{
    color: white;
    font-size: 1.3em;
    background-color: rgba(255,255,255,.5);
    padding:2px 5px;
    border-radius: 5px;
    margin-left: 20px;
    text-shadow: 1px 1px 5px black;
    position: absolute;
    bottom: 10px;
}




/*--CARDS--------------------------*/

#greeting{
    width: 90%;
    display: flex;
    flex-direction: row;
    /*flex-wrap: wrap;*/
    justify-content: space-between;
    align-content: center;
    /*border:1px solid red;*/
    color: grey;
    margin: 10px 0;

}

#hello{
    /*width:150px;*/
    height: 20px;
    text-align: right;
    /*border:1px solid blue;*/
    /*float: right;*/
    align-self: flex-start;
    font-style: italic;
}

/*-Contractor start-------------------------------------------------*/
#contractor_card_wrapper{
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /*border:1px solid blue;*/
}


#contractor_card{
    width:60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    border: 1px solid #dddddd;
    margin: 10px;
    padding: 5px;
    box-sizing: border-box;
}

.contractor_logo{
    width:70px;
    height: 70px;
    background-size: contain;
    background-repeat: no-repeat;
    background-position: center;
    margin-right: 20px;
}

/*-Contractor end-------------------------------------------------*/

textarea:focus, input:focus{
    outline: none;
}





/*--------------------------------------------------------------------------------------------------------------------------*/
/*  ##Device = Desktops  ##Screen = 1281px to higher resolution desktops*/
@media (min-width: 1281px) {

  //CSS

}
/*--------------------------------------------------------------------------------------------------------------------------*/
/*  ##Device = Laptops, Desktops  ##Screen = B/w 1025px to 1280px */
@media (min-width: 1025px) and (max-width: 1280px) {

  //CSS

}
/*--------------------------------------------------------------------------------------------------------------------------*/
/*  ##Device = Tablets, Ipads (portrait)  ##Screen = B/w 768px to 1024px */
@media (min-width: 768px) and (max-width: 1024px) {

    header {
        width: 90%;
    }
    .main_wrapper {
        width: 90%;
    }
    #gif {
        height: 160px;
    }
    .cards_wrapper {
        width: 100%;
        margin:0;
    }
    .cardBox_wrapper {
        height: 200px;
    }
    .location {
        bottom: -13px;
    }
}
/*--------------------------------------------------------------------------------------------------------------------------*/
/*  ##Device = Tablets, Ipads (landscape)  ##Screen = B/w 768px to 1024px */

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  //CSS

}
/*--------------------------------------------------------------------------------------------------------------------------*/
/*  ##Device = Low Resolution Tablets, Mobiles (Landscape)  ##Screen = B/w 481px to 767px */
@media (min-width: 481px) and (max-width: 767px) {
    #nav_wrapper{
        font-size: 0.8em;
        /*height:30px;*/
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        /*overflow: hidden;*/
        /*display: none*/
    }
    #nav_wrapper a {
        text-align: center;
        padding: 10px 7px;
    }
    header {
        width: 100%;
        /*position: absolute;*/
    }
    .main_wrapper {
        width: 100%;
    }
    .cards_wrapper{
        width:100%;
        margin: 0
    }
    .cardBox_wrapper {
        width: 90%;
    }
}
/*--------------------------------------------------------------------------------------------------------------------------*/
/*  ##Device = Most of the Smartphones Mobiles (Portrait)  ##Screen = B/w 320px to 479px */
@media (min-width: 320px) and (max-width: 480px) {
    #nav_wrapper{
        font-size: 0.8em;
        /*height:30px;*/
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        /*overflow: hidden;*/
        /*display: none*/
    }
    #nav_wrapper a{
        text-align: center;
        padding: 10px 7px;
    }
    header {
        width: 100%;
        /*position: absolute;*/
    }
    #gif {
        height: 100px;
    }
    #footer {
        width: 100%;
        height: 10px;
    }
    .main_wrapper {
        width: 100%;
    }
    .cardBox_wrapper {
        width: 100%;
        height:210px;
    }
    .cards_wrapper {
        width: 95%;
        margin:0;
    }
    .photo {
        min-width: 340px;
        height: 230px;
    }
    .cost{
        font-size: 1.2em;
    }
    .location {
        margin-left: 8px;
        bottom:-13px;
    }
    #contractor_card {
        width: 100%;
        margin:5px auto;
    }
}