.cards_wrapper{
    /*border:1px solid red;*/
    margin: 0 auto;
    /*padding:0;*/
    width:100%;
    /*box-sizing: border-box;*/
}

h3{
    margin:10px;
    /*border:1px solid red;*/
    margin-left: -900px;
    color:grey;
    font-family: 'Montserrat', sans-serif;
}

.cardBox_wrapper{
    width:100%;
    padding:0;
}