.cardBox_wrapper{
    /*border:1px solid red;*/
    width:85%;
    height: 300px;
    display: flex;
    align-items: center;
    /*padding:0;*/
}

.cardBox_img{
    /*border:1px solid blue;*/
    width:100%;
    height: 100%;

}

.cardBox_img div{
    width:100%;
    /*height:500px;*/
    /*transform: translateY(-150px)*/
    background-size: cover;

}

.cards_wrapper{
      display: flex;
    flex-wrap: nowrap;
    /*flex-direction: row;*/
    /*align-items: center;*/
    /*justify-content: center;*/
    /*border:1px solid red;*/
    overflow-y: auto;

}




.cost{
font-size:20px
}

.location{
    font-size:25px
}

.photo{
    height: 300px;
/*    transform: translateY(150px)*/
    background-position: center;
}


/*--start of details box--------------*/
.details_wrapper{
    /*border:1px solid red;*/
    width: 100%;
    display: flex;
    flex-direction: row;
    color: grey;
    margin-top:20px;
}

.details{
    margin-right:20px
}
h4{
    color: #67dfd4;
    /*border:1px solid red;*/
    margin: 0 auto;

}

.details_wrapper p{
    margin: 0 auto;
    /*border:1px solid red;*/

}


button{
    width:80px;
    border:1px solid #67dfd4;
    background-color: white;
    color: #67dfd4;
}

#delete{
    float:right;

}


/*--end of details box--------------*/